
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// /*COLORS*/
$StoryWave-Grey: #30343F;
$StoryWave-White: #FAFAFF;
$StoryWave-Purple: #E4D9FF;
$StoryWave-Blue: #273469;
$StoryWave-Navy: #1e2749;

$StoryWave-Brown: #250f04;
$StoryWave-Orange: #e29939;
$StoryWave-Red: #8e3016;
$StoryWave-Lavendar: #d1bdbf;
$StoryWave-LightBrown: #4d3e33;
$StoryWave-Beige: rgb(246, 240, 234);