@use "../../assets/partials/global";
@use "../../assets/partials/typography" as *;
@use "../../assets/partials/fonts" as *;
@use "../../assets/partials/variables" as *;
@use "../../assets/partials/mixins" as *;

.carousel-container {
    padding: 2rem 1rem;
    margin: 0 auto;
    background-color: rgba(246,240,234,1);


    h2 {
        @include mobile__page-header;
        text-align: center;
        font-weight: bold;
        color: $StoryWave-Brown;

        @include tablet{
        font-size: 3rem;
        line-height: 1.2em;
        }
        
    }

    .slick-slider {
        .slick-prev,
        .slick-next {
            font-size: 20px;
            color: $StoryWave-Brown;
            z-index: 1;
        }

        .slick-prev {
            left: -40px;
        }

        .slick-next {
            right: -40px;
        }

        .slick-dots {
            bottom: -3rem;
            //margin-bottom: 1rem;
            
          
    
            li button {
                background-color: $StoryWave-Brown;
                border-radius: 50%;
                width: 12px;
                height: 12px;

                &:before {
                    content: "";
                }
            }

            li.slick-active button {
                background-color: $StoryWave-Orange;
            }
        }
        .slick-track {
            display: flex;
            gap: 2rem; //gapping between the cards of the carousel
        }
    }

    .book-card {
        border-radius: 10px;
        overflow: hidden;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        

        &:hover {
            transform: translateY(-10px);
             box-shadow: 0 10px 15px $StoryWave-Brown;
        }

        .book-image {
            width: 100%;
            height: 250px;
            object-fit: contain;
            border-radius: 8px;
            transition: transform 0.3s ease;
            padding-top: 1rem;
        }

        .book-title {
            font-size: 1.1rem;
            font-weight: bold;
            color: $StoryWave-Brown;
            margin: 0.5rem 0;
            text-align: center;
        }

        .book-author {
            font-size: 0.875rem;
            color: $StoryWave-LightBrown;
            margin-bottom: 1rem;
            text-align: center;
        }
    }

    @include desktop {
        .slick-slider {
            .slick-prev,
            .slick-next {
                font-size: 25px;
            }

            .slick-dots {
                bottom: -30px;
            }
        }

        .book-card {
            width: 90%;
            margin: 0 auto;
        }
    }

    @include tablet {
        .slick-slider {
            .slick-prev,
            .slick-next {
                font-size: 20px;
            }

            .slick-dots {
                bottom: -20px;
            }
        }

        .book-card {
            width: 100%;
            margin: 0 auto;
            height: 350px;
        }
    }
}
