@use "../assets/partials/global";
@use "../assets/partials/typography" as *;
@use "../assets/partials/fonts" as *;
@use "../assets/partials/variables" as *;
@use "../assets/partials/mixins" as *;

body {
    background-color: $StoryWave-Beige;
}

.discover-container {
  padding: 20px;
  text-align: center;

  &-heading h2 {
    @include mobile__page-header;
    @include tablet{
    @include page-header;
    }
    
    color: $StoryWave-Brown;
    text-transform: uppercase;
    margin-bottom: 20px;
    background: linear-gradient(90deg, $StoryWave-Orange, $StoryWave-Red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 2px;
  }
}

.mood-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mood-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: $StoryWave-Brown;
    border: 1px solid $StoryWave-LightBrown;
    border-radius: 12px;
    padding: 18px;
    width: 100%;
    max-width: 350px;
    height: 150px;
    margin: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: translateY(-8px);
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    }

    &.selected {
        border-color: $StoryWave-Orange;
        box-shadow: 0 6px 12px rgba(226, 153, 57, 0.4);
    }

    .mood-icon {
        flex: 0 0 60px;
        font-size: 4rem;
        color: $StoryWave-Orange;
        transition: transform 0.3s ease, color 0.3s ease;

        &:hover {
            transform: scale(1.2);
            color: $StoryWave-Red;
        }
    }

    .mood-content {
        flex: 1;
        margin-left: 20px;
        text-align: left;
    }
}
.button-container {
    display: flex;
    justify-content: center;
}
.find-books-button {
    background-color: $StoryWave-Orange;
    color: $StoryWave-Beige;
    border: none;
    padding: 14px 28px;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 100%;
    max-width: 240px;
    margin-top: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    &:hover {
        background-color: $StoryWave-Red;
        transform: translateY(-3px);
    }

    &:disabled {
        background-color: $StoryWave-LightBrown;
        cursor: not-allowed;
    }
}

.mood-card h3 {
    margin: 0 0 10px 0;
    font-size: 1.1rem;
    color: $StoryWave-Red;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.mood-card p {
    margin: 0;
    font-size: 1rem;
    color: $StoryWave-Brown;
    line-height: 1.4;
}

