@use "../assets/partials/global" as *;
@use "../assets/partials/typography" as *;
@use "../assets/partials/fonts" as *;
@use "../assets/partials/variables" as *;
@use "../assets/partials/mixins" as *;

.discover-results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: white;

    &__title{
        color: $StoryWave-Brown;
        margin-top: 2rem 2rem;
        @include mobile__page-header;

        @include tablet{
            @include page-header;
        }
    }
}
.books-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    align-items: center;
    gap: 4.15rem;

    @include tablet {
        grid-template-columns: repeat(3, 1fr);
    }
}
