@use "../assets/partials/global" as *;
@use "../assets/partials/typography" as *;
@use "../assets/partials/fonts" as *;
@use "../assets/partials/variables" as *;
@use "../assets/partials/mixins" as *;

body{
    margin: 0;
    padding: 0;
}
.homepage {
    &__logoimg{
        height: auto;
        width: 15rem;
        border: 4px solid rgba(118,118,116,1);
    }
    
    overflow: hidden;
    position: relative;

    &__header {
        position: relative;
        background-color: rgba(246,240,234,1);
        padding: 4rem 2rem;
        text-align: center;
        

        &__background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;

            .wave {
                position: absolute;
                width: 200%;
                height: 150px;
                opacity: 1;
                background: rgba(0, 0, 255, 0.5);
            }
        }

        &__title {
            font-size: 3rem;
            font-weight: bold;
            color: rgba(118,118,116,1);
            margin-bottom: 1rem;
            animation: fadeIn 1s ease-out;
        }

        &__slogan {
            font-size: 3.125rem;
            margin: 0 0 2rem;
            color: rgba(118,118,116,1);
            animation: fadeIn 1.5s ease-out;
        }

        &__actions {
            display: flex;
            justify-content: center;
            gap: 1rem;

            .homepage__button {
                padding: 0.75rem 1.5rem;
                font-size: 1rem;
                border: none;
                border-radius: 25px;
                cursor: pointer;
                transition: transform 0.3s ease, background-color 0.3s ease;

                &--primary {
                    background-color: $StoryWave-Blue;
                    color: $StoryWave-White;

                    &:hover {
                        background-color: darken($StoryWave-Blue, 10%);
                        transform: scale(1.1) rotate(-3deg);
                    }
                }

                &--secondary {
                    background-color: $StoryWave-Navy;
                    color: $StoryWave-White;

                    &:hover {
                        background-color: lighten($StoryWave-Navy, 10%);
                        transform: scale(1.1) rotate(3deg);
                    }
                }
            }
        }
      
    }

    &__carousel {
        padding: 2rem;
        background-color: rgba(246,240,234,1);
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin: 0 1rem;

        &-title {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 1rem;
            color: $StoryWave-Navy;
            animation: fadeIn 1.5s ease-out;
        }
    }

    &__footer{
        text-align: center;
    }

    &__hero-video{
        object-fit: cover;
        width: 100%;
        height: auto;
        object-position: 50% 50%;

    }
}
