@use "../../assets/partials/global";
@use "../../assets/partials/typography" as *;
@use "../../assets/partials/fonts" as *;
@use "../../assets/partials/variables" as *;
@use "../../assets/partials/mixins" as *;

.navbar {
    
    background-color: $StoryWave-LightBrown;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;

    &:hover {
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    }
  
}

.navbar__logo img {
    width: 5.625rem;
    height: auto;

    @include tablet{
    width: 120px;
    height: auto;
    object-fit: contain;
    }
    
}

.navbar__menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.navbar__item {
     padding: 0.8rem 1.4rem;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: $StoryWave-Beige;
    color: $StoryWave-Brown;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

    @include tablet{
    
    height: 3.5rem;
    width: 10rem;
   
    }
   

    &:hover {
        background-color: $StoryWave-Orange;
        color: white;
        transform: scale(1.05);
    }

    &:active {
        transform: scale(1);
    }
}

.navbar__dropdown {
    position: relative;

    .navbar__link {
        text-decoration: none;
        color: $StoryWave-Brown;
        cursor: pointer;
        all: unset;
        font-weight: 600;
        display: flex;
        align-items: center;
       
    }

    .navbar__dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: $StoryWave-LightBrown;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 0.8rem 0;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        min-width: 220px;
      

        li {
            padding: 0.8rem 1.5rem;
            text-align: left;
            list-style: none;

            .navbar__dropdown-link {
                color: $StoryWave-Brown;
                text-decoration: none;
                font-size: 1rem;
                font-weight: 600;
                padding: .5rem .5rem;
                background-color: $StoryWave-Beige;
                display: block;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: $StoryWave-Orange;
                    color: white;
                   // padding-left: 1.5rem;
                }
            }
        }
    }
}

.navbar__dropdown-menu li button {
    background: none;
    border: none;
    color: $StoryWave-Brown;
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    text-align: left;
    font-weight: 500;
    list-style: none;
    display: block;
    width: 100%;

    &:hover {
        background-color: $StoryWave-Orange;
        color: white;
    }
}

.navbar__item:not(:last-child) {
    padding-right: 1.5rem;
}

.navbar__discover{
    border: none;
    all: unset;
    font-weight: 600;
}

.navbar__dropdown-menu{
    padding: 0;
}


